* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    padding: 5px;
    background-color: rgb(243, 228, 200);
    box-shadow: 0 1px 3px 1px #b9b9b9;
}

header a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

header p {
    font-size: 25px;
    margin-left: 5px;
    font-weight: bold;
}

header img {
    height: 100%;
}

.review-form {
    position: absolute;
    margin-top: 20px;
    width: 450px;
    left: 50%;
    transform: translate(-50%);
}

.review-form h1 {
    font-size: 20px;
}

.review-form ul {
    list-style: none;
}

.review-form li {
    display: grid;
}

.review-form li * {
    font-family: inherit;
    font-size: 15px;
    margin-bottom: 5px;
}

.review-form li textarea {
    resize: none;
    height: auto;
}

.review-form button {
    cursor: pointer;
    float: right;
    background-color: #86f518;
    border-radius: 5px;
    border: none;
    padding: 1px 7px;
}

.review-form button:active {
    background-color: #6ac014;
}