.background {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: visibility background-color;
    transition-duration: 0.3s;
}

.background.out {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.content {
    width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    transition-property: transform, opacity;
    transition-duration: 0.4s, 0.15s;
    transition-delay: 0.1s;
}

.background.out>.content {
    transform: translateY(-30%);
    opacity: 0;
}

.title {
    font-size: 20px;
}

.footer {
    text-align: right;
}

.button {
    border-radius: 5px;
    border: none;
    margin: 0 3px;
    padding: 1px 5px;
    cursor: pointer;
}

.disabledButton {
    background-color: gray;
}
